@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meet Our Team</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
 
    <div class="team-section">
        <h1 class="section-title">Meet Our Team</h1>
        <div class="team-container">
            <!-- Team Member 1 -->
            <div class="team-member" onclick="showDetails('modal1')">
                <img src="~/Images/Tulsi.jpeg" alt="Member 1">
                <div class="member-info">
                    <h3>Thulasi Sai Mediga</h3>
                    <p>Member 1 - Tampa</p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/thulasi.sai.mediga?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/thulasi-sai-mediga/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            <div class="team-member" onclick="showDetails('modal2')">
                <img src="~/Images/Anvesh.jpeg" alt="Member 2">
                <div class="member-info">
                    <h3>Sai Anvesh Marupeddi</h3>
                    <p>Member 2 - Tampa</p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/share/MmnYKr483xPvhpuj/?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://x.com/anveshmarupeddi?s=21&t=ZGqSloWIS18fWpOojQreEQ"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/saianveshmarupeddi/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            <div class="team-member" onclick="showDetails('modal3')">
                <img src="~/Images/Sat.jpeg" alt="Member 3">
                <div class="member-info">
                    <h3>Sathvika Meka</h3>
                    <p>Member 3 - Tampa</p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=100090525555389&mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://x.com/sathvika_meka"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            <div class="team-member" onclick="showDetails('modal4')">
                <img src="~/Images/bar.jpeg" alt="Member 4">
                <div class="member-info">
                    <h3>Bhargav Papireddy</h3>
                    <p>Member 4 - Tampa</p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/bhargav.reddy.7334504?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href="http://linkedin.com/in/bhargav-papireddy-0a4b23130"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            <!-- Modal 1 -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="hideDetails('modal1')">&times;</span>
                    <p>Thulasi Sai Mediga , a skilled software engineer with expertise in IBM Mainframe technologies, including COBOL, JCL, DB2, and CICS, and over 4 years of experience across major insurance firms. Currently, I serve as a Senior Software Engineer at Tata Consultancy Services, where they focus on performance optimization, testing, and project management. Known for consistent organization and effective team coordination, I have a solid foundation in both Waterfall and Agile methodologies. Holding a B.Tech in Electronics and Communications, I bring a balance of technical proficiency and leadership, which is recognized through achievements like "Performer of the Year 2020".</p>
                </div>
            </div>

            <div id="modal2" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="hideDetails('modal2')">&times;</span>
                    <p>Sai Anvesh Marupeddi, a skilled Xceptor Developer with expertise in intelligent automation, project management, and code testing within global financial environments. Proficient in leveraging advanced tools such as Xceptor, Automation Anywhere, and RPA to streamline workflows and enhance process efficiency. My role includes meticulous attention to detail in project execution, contributing to increased operational efficiency and delivering data-driven solutions that support critical decision-making processes. With a strong academic foundation and currently pursuing a Master’s in Business Analytics and Information Systems at the University of South Florida, I am dedicated to fostering innovation and providing impactful automation solutions in complex business scenarios. My proactive approach and continuous learning mindset equip me to tackle intricate challenges effectively, ensuring high-quality outcomes in a dynamic industry landscape.</p>
                </div>
            </div>

            <div id="modal3" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="hideDetails('modal3')">&times;</span>
                    <p>I previously worked as a Quality Analyst at Optum Global Solutions, where I used PL/SQL regularly to manage, test, and analyze data. I'm proficient with Power BI, Tableau, and SQL, which I use to translate complex data into understandable visual reports and dashboards. My primary objective has been to ensure data quality and improve system functionality, allowing teams to make well-informed, data-driven decisions. With a solid background in data visualization and quality assurance, I provide unique insights to help businesses achieve better results through reliable data and analytics..</p>
                </div>
            </div>

            <div id="modal4" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="hideDetails('modal4')">&times;</span>
                    <p>Skilled full stack web developer with expertise in both frontend and backend development, proficient in technologies such as Java, Spring Boot, and Angular frameworks. With over 4 years of professional experience across various projects, I focus on building scalable and high-performance applications, implementing effective solutions, and ensuring seamless user experiences. Known for my consistent organization and collaborative approach, I have a solid foundation in both Waterfall and Agile methodologies. Holding a B.Tech in Electronics and Communications, I combine technical proficiency with strategic leadership, recognized for delivering impactful results and fostering team success.</p>
                </div>
            </div>
            
        </div>
    </div>

    <script src="~/js/About.js"></script>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
